@font-face {
    font-family: 'ChangaOne';
    src: url('../fonts/ChangaOne_Regular.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #242424;
}
body{
    background-color: #d7f7d7;
}

header{
    width: 100%;
    height: 100%;
    border-radius: 0 0 0% 0% / 0 0 100px 100px;
    background-image: url('../img/img_headerNav.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.contenido_header{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

nav{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-shadow: #242424 0px 0px 30px -20px;
}

nav h2{
    color: white;
    font-family: 'ChangaOne', cursive;
    font-size: 30px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
}   